<%= link_to(notifications_path) do %>
  <% if unchecked_notifications.any? %>
    <span class="fa-stack text-secondary">
      <i class="far fa-bell fa-lg fa-stack-2x pt-2" style="font-size: 1.3em;"></i>
      <i class="fas fa-circle n-circle fa-stack-1x"></i>
    </span>
  <% else %>
    <i class="far fa-bell fa-lg  text-secondary" style="font-size: 1.3em"></i>
  <% end %>
<% end %>
