<h3 class="text-center">通知</h3>

<%= link_to destroy_all_notifications_path, data: { confirm: "全て削除していいですか？" }, method: :delete do %>
  <i class="fas fa-trash pl-3" style="color: black;"></i>
  <h7 style="color: black;">全削除</h7>
<% end %>

<% notifications = @notifications.where.not(visitor_id: current_user.id) %>

<% if notifications.exists? %>
  <%= render notifications %>
  <%= paginate notifications, theme: 'twitter-bootstrap-4' %>
<% else %>
  <p class="text-center">通知はありません</p>
<% end %>
