<h3 class="text-center">通知</h3>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
  <%= render notifications %>
  <%= paginate notifications, theme: 'twitter-bootstrap-4' %>
<% else %>
  <p>通知はありません</p>
<% end %>
