// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.jumbotron {
  background-image: image-url('top.jpeg');
  background-size: cover;

  h2 {
    color: white;
  }
  p {
    color: white;
  }
}

.manual {
  background-color: #FFFFF0;
}
