<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
      <h1 class="text-center mb-4">カテゴリ作成</h1>
      <%= render 'form' %>
      <table class="table table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th>作成したカテゴリ</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @categories.each do |category| %>
          <tbody class="category">
            <tr>
              <td><%= category.cat_name %></td>
              <td><%= link_to edit_category_path(category.id), class: 'btn btn-primary btn-sm' do %>
                <i class="fas fa-edit"></i>
              <% end %></td>
              <td><%= link_to category_path(category.id), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "削除して良いですか？" } do %>
                <i class="far fa-trash-alt"></i>
              <% end %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

    <div class="col-sm-4">
    </div>
  </div>
</div>
